{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1><marquee> virat is best player of indian team.His wife name is anushka sharma</marquee></h1>
        <h2><img src="{% static 'images/virat.jpeg' %}" alt="no image"height="700px"width="700px"</h2>
    </center>
    
</body>
</html>